@page "/caixa/{acao:int}/{id:int}"
@using Linter.Components.ComponentesLDN
@using Linter.Components.Geral
@rendermode InteractiveServer
@inject CAX001_MovimentacoesRepositorio repositorio
@inject NavigationManager navigation
@inject IToastService Toast
@inject IDialogService dialogservice


<h3> @txtBotao </h3>

<FluentMenuProvider />
<FluentDialogProvider />
<FluentEditForm Model="@objMovi" FormName="submit" OnValidSubmit="@AcionarBotao">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <FluentGrid>
        <FluentGridItem xs="3">
            <FluentTextField Label="Descrição" Id="descritivo" Class="label-top" Name="objMovi.Descritivo" @bind-Value="objMovi.Descritivo" ReadOnly="@Disabled" />
        </FluentGridItem>
        <FluentGridItem xs="3">
            <FluentNumberField TValue="decimal" Label="Valor" Name="objMovi.Valor" @bind-Value="objMovi.Valor" ReadOnly="@Disabled" />
        </FluentGridItem>
        <FluentGridItem xs="3">
            <FluentDatePicker Label="Data da movimentação" Name="objMovi.DataMovimentacao" @bind-Value="objMovi.DataMovimentacao" ReadOnly="@Disabled" />
        </FluentGridItem>
    </FluentGrid>

    <FluentGridItem sm="8" xs="8">
        <FluentSelectEnum TEnum="Enumeradores.TipoMovimentacao" Label="Tipo de Movimentação" @bind-EnumSelectedValue="tipomov" readonly="true" />
    </FluentGridItem>
    <br />
    <FluentButton OnClick="@(()=> AcionarBotao())" Type="ButtonType.Submit" FormId="submit" Disabled="BotoesDisabled"> @txtBotao </FluentButton>
    <FluentButton Disabled="false" OnClick="@(()=> navigation.NavigateTo("/caixa/"))"> Retornar </FluentButton>
</FluentEditForm>

@code {

    bool BotoesDisabled = false;
    public bool Disabled { get; set; } = false;
    public string txtBotao { get; set; } = "Adicionar movimentação";
    public Enumeradores.TipoMovimentacao? tipomov { get; set; }
    //quando não existe um modelo sendo passado pra essa tela nem carregado no initialized, a gnt precisa inicializar ele manualmente
    [SupplyParameterFromForm]
    public CAX001_MovimentacoesCaixa objMovi { get; set; } = new CAX001_MovimentacoesCaixa();

    [Parameter] public int acao { get; set; }

    [Parameter] public int id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CarregarDados();
    }

    private void CarregarDados()
    {
        if (acao != (int)Enumeradores.TipoView.Criar)
        {
            objMovi = repositorio.RetornaMovimentacao(id);
        }
        switch (acao)
        {
            case (int)Enumeradores.TipoView.Criar:
                //aqui poderia mudar a cor do botão e colocar algum icone de lixeira
                txtBotao = "Adicionar movimentação";
                BotoesDisabled = false;
                Disabled = false;
                break;
            case (int)Enumeradores.TipoView.Editar:
                Disabled = false;
                BotoesDisabled = false;
                //e aq colocar algum icone de lapis
                txtBotao = "Editar movimentação";
                break;
            case (int)Enumeradores.TipoView.Apagar:
                Disabled = true;
                BotoesDisabled = false;
                //e aq colocar algum icone de lapis
                txtBotao = "Excluir movimentação";
                break;
        }
    }
    public async void AcionarBotao()
    {
        switch (acao)
        {
            case (int)Enumeradores.TipoView.Criar:
                repositorio.InserirMovimentacao(objMovi);
                Toast.ShowCustom("Registro cadastrado com sucesso!", null, null, null, (new Icons.Regular.Size24.AddCircle(), Color.Accent));
                break;
            case (int)Enumeradores.TipoView.Editar:
                repositorio.EditarMovimentacao(objMovi);
                Toast.ShowCustom("Registro cadastrado com sucesso!", null, null, null, (new Icons.Regular.Size24.AddCircle(), Color.Accent));
                break;
            case (int)Enumeradores.TipoView.Apagar:
                var dialog = await dialogservice.ShowConfirmationAsync("Tem certeza que deseja cancelar?",
                                                                       "Sim",
                                                                       "Cancelar",
                                                                       "Atenção");
                var result = await dialog.Result;
                if (!result.Cancelled)
                {
                    repositorio.ExcluirMovimentacao(id);
                    dialogservice.ShowInfoAsync("Retornando à página principal...",
                                                             "Sucesso");
                    Toast.ShowCustom("Exclusão confirmada com sucesso!", null, null, null, (new Icons.Regular.Size24.Delete(), Color.Accent));
                }
                break;
        }
        navigation.NavigateTo($"/caixa");
    }
}
